<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Pokemon Index Page</h1>

    <ul>
        <% for(i=0; i<pokemons.length; i++) { %> 
            <li>
                <%= pokemons[i].name %>
                <a href="/pokemon/<%=i%> "><img src="<%= pokemons[i].img %>" alt="pokemon image"></a>
            </li>
        <% } %> 
    </ul>


</body>
</html>